@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: __Inter_e66fe9, __Inter_Fallback, __Roboto_e66fe9, __Roboto_Fallback, sans-serif;
    font-variation-settings: normal
}

body {
    margin: 0;
    line-height: inherit
}

.carousel {
    margin-top: 11.5rem;
}
.carousel__text p {
    color:rgb(117 118 147) ;
}
.botton { margin-top: 2rem;}

.botton { margin-top: 2rem;}

.bg-meta {
    --tw-bg-opacity: 1;
    background-color: rgb(32 197 168 / var(--tw-bg-opacity));
}

.carousel__text {
    color: rgb(117 118 147);
} s